@import "./Variables.scss";
h1,
h2,
h3 {
  font-family: 'sans-Maven Pro', sans-serif;
  font-weight: 20;
}
a {
    font-family: 'sans-Maven Pro', sans-serif;
    font-weight: 900;
    text-decoration: none;
  }
