@import "../../Resources/Variables.scss";
.body{
    background-color: $color-background;
    color:  $color-text;
}
.HeaderImg{
    img{
        width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        position: relative;
      
    }   
    
    
    .header_text{
        width:100%;
      

        h1{
            position: absolute;
            margin-top: -40%;
            margin-left:50%;
            text-align: center;
            color: black;
            border:black;
            font-size: 70px;
        }
        h2{
            position: absolute;
            left: 50%;
            margin-top:-35%;
            color: black;
           
        }
    }
}     





