@import "../../Resources/Variables.scss";
$image-width:100%;

h1{
    margin:3%;
} 
.grid-container{
  display: grid;
  grid-template: 1fr 1fr 1fr;
  grid-gap: 8px;
  color: $color-text;
  background: $color-background;
  margin:10%;
  > div {
    background-color:$color-background;
    text-align: center;
    margin:5%;
    padding: 2% ;
    font-size: 17px;
    }
  img{
    width: $image-width;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    } 
 
 
.image1{  
    grid-column: 1;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
    
    :not(img){
      position:absolute;
      z-index:1;
      top:30%;
      width:100%;
      text-align:center;
      color:#fff;
      opacity:0;
      transition:.3s;
      font-size: 250%;
      
     }
    
    .img{
      width:100%;
      transition:.3s;
      border-radius: 4px;
      
    }
    &:hover img{
      filter:blur(2px) brightness(60%);
    }
    
   
    &:hover :not(img){
      opacity:1;
    }
   
}

.image2{
    grid-column: 2;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
    
    :not(img){
      position:absolute;
      z-index:1;
      top:30%;
      width:100%;
      text-align:center;
      color:#fff;
      opacity:0;
      transition:.3s;
      font-size: 250%;
    }
    .img{
      width:100%;
      transition:.3s;
      border-radius: 4px;
      
    }
    &:hover img{
      filter:blur(2px) brightness(60%);
    }
    .h3{
      top:80%;
    }  
      
    &:hover :not(img){
      opacity:1;
    }
}
.image3{
    grid-column: 3;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
    :not(img){
      position:absolute;
      z-index:1;
      top:30%;
      width:100%;
      text-align:center;
      color:#fff;
      opacity:0;
      transition:.3s;
      font-size: 250%;
    }
    .img{
      width:100%;
      transition:.3s;
      border-radius: 4px;
      
    }
    &:hover img{
      filter:blur(2px) brightness(60%);
    }
    
    .h3{
      top:70%;
    }   
    &:hover :not(img){
      opacity:1;
    }
  }
}